

.bkgd{
    
    background-image: url("../logorwm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FBEFCC;
    


}

.logo{
    margin-top: 10px;
}


.login-page{
    display: flex;
    align-items: center;
    justify-content: end;
}



/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #19b954;
    color: rgb(255, 255, 255);
  }
  
 


.navbar-nav{
    flex:content;
    justify-content: center;
    gap: 10px;
    
}




svg{
    padding:4px;
}


h1{
    padding-left:16px;
    font-family: "Space Mono", monospace;
    font-style:normal;
    font-size:15px;
    margin-top: 10px;
    font-weight: bold;
  

}

h2{
    font-family: "Space Grotesk", sans-serif;
    font-size:50px;
    font-weight: bolder;
    display: inline;
    padding: 2px;
    
}
.mb-4{
    font-family: "Space Grotesk", sans-serif;
    font-size:36px;
    font-weight:bold;
    text-align: center;

}

h3{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: small;
  color:rgb(0, 0, 0);
}
.collapse {
    display: flex;
  
}

.pb-2{
    font-family: "Space Grotesk", sans-serif;
    font-size:36px;
    font-weight:bold;
    text-align: left;
}

.block1 {
    background-color: #253B1A;
    color:#ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-style:normal;
    text-align:left;
    border: #000000;
    padding-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    
}
.lead{
    font-family: "DM serif Display";
  font-weight:lighter;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  
  
}
.fw-bold{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight:300px;
    font-style: normal;
    color: #100F0F;
}
.block2{
    background-image: url(./image2/bg-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
   
}
.block2-text{
    display: flex;
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size:medium;
    


}

.block3{
    height:auto;
    background-color:#d2d2d2bf;
    

}
.display-4{
    font-size:larger;
    text-align: start;
}
.location{
    color: red;
    text-align: left;
}
.block5{
    background-color: black;
    padding:10px;
}
.block5 .progress{
    margin: 20px;
    width:200px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
}

.rating{
    display: flex;
    justify-content: space-around;

}
.d-flex{
    background-color: rgba(255, 255, 255, 0.788);
    color: #100F0F;
}
.border-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

hr{
    width:95%;
    margin: auto;

}
a{
    text-decoration:none;
}






.hidden{
    opacity: 0;
    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.col:nth-child(2){
    transition-delay: 200ms;
}
.col:nth-child(3){
    transition-delay: 400ms;
}

.btn{

    transition:transform 0.3s , background-color 0.3s ,color 0.3s;
    background-color:#0b140893


    
}

.btn:hover{
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn-2{

    transition:transform 0.3s ,background-color 0.3s ,color 0.3s;


    
}


.btn-2:hover{
    transform: translateY(-10px);
    background-color:#eee5e56c;
    color: rgb(0, 0, 0);
}


.btn-3{

    transition:transform 0.3s ,background-color 0.3s ,color 0.3s;


    
}


.btn-3:hover{
    transform: translateY(-10px);
    background-color:#ffffff;
    color: rgb(0, 0, 0);
}


.col1:nth-child(2){
    transition-delay: 200ms;
}
.col1:nth-child(3){
    transition-delay: 400ms;
}


.bcblur{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(212, 212, 212, 0.5);
}

#some{
    border: 2px solid rgb(5, 71, 35) ;
    background-color: rgba(8, 122, 22, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    padding-left: 40px;
}